@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Playfair+Display:wght@700&display=swap');
:root {
  --font-special-elite: 'Special Elite', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-special-elite);
  height: 100%;
}


